<div class="card mb-4">
  <div class="card-img-wrapper">
    <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
    <ul class="member-icons animate list-inline text-center">
      <li class="list-inline-item">
        <button routerLink="/members/{{member.username}}" class="btn btn-primary">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <fa-icon [icon]="faHeart"></fa-icon>
        </button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary">
          <fa-icon [icon]="faEnvlope"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
  <div class="card-body text-center">
    <h6 class="card-title"><fa-icon [icon]="faUser" class="me-2"></fa-icon>{{member.knownAs}}</h6>
    <p class="card-text text-muted">{{member.city}}</p>
  </div>
</div>