<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>
  <div class="mb-3">
    <label class="me-2">I am a: </label>
    <div class="form-check form-check-inline">
      <input formControlName="gender" class="form-check-input" type="radio" id="male" value="male">
      <label class="form-check-label" for="male"> Male</label>
    </div>
    <div class="form-check form-check-inline">
      <input formControlName="gender" class="form-check-input" type="radio" id="female" value="female">
      <label class="form-check-label" for="female"> Female</label>
    </div>
  </div>
  <app-reusable-input formControlName="username" [label]="'Username'"></app-reusable-input>
  <app-reusable-input formControlName="knownAs" [label]="'Known As'"></app-reusable-input>
  <div class="mb-3">
    <label style="color: #999;">Date Of Birth</label>
    <input formControlName="dateOfBirth" type="date" max="{{maxDateString}}" class="form-control">
  </div>
  <app-reusable-input formControlName="city" [label]="'City'"></app-reusable-input>
  <app-reusable-input formControlName="country" [label]="'Country'"></app-reusable-input>
  <app-reusable-input formControlName="password" [type]="'password'" [label]="'Password'"></app-reusable-input>
  <app-reusable-input formControlName="confirmPassword" [type]="'password'" [label]="'Confirm Password'"></app-reusable-input>
  <div *ngIf="serverValidationErrors.length > 0">
    <ul class="text-danger">
      <li *ngFor="let error of serverValidationErrors">{{error}}</li>
    </ul>
  </div>
  <div class="text-center">
    <button class="btn btn-success me-2" type="submit" [disabled]="!registerForm.valid">Register</button>
    <button class="btn btn-default me-2" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>