<div class="text-center mt-3">
  <h2>{{pagination?.totalItems}} found</h2>
</div>
<div class="container my-3">
  <form #filteringForm="ngForm" (ngSubmit)="applyFilters()" autocomplete="off" class="d-flex flex-row align-items-center flex-wrap">
    <label for="minAge">Age from: </label>
    <div class="mx-2">
      <input [(ngModel)]="userParams.minAge" id="minAge" type="number" name="minAge" style="width: 70px;" class="form-control">
    </div>
    <label for="maxAge">Age to: </label>
    <div class="mx-2">
      <input [(ngModel)]="userParams.maxAge" id="maxAge" type="number" name="maxAge" style="width: 70px;" class="form-control">
    </div>
    <div class="d-flex align-items-center">
      <label>Gender: </label>
      <select [(ngModel)]="userParams.gender" name="gender" style="width: 140px;" class="form-select mx-2">
        <option *ngFor="let gender of genderList" [ngValue]="gender.value">{{gender.display}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary ms-1">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-secondary ms-1">Reset Filters</button>
    <div class="col">
      <div class="btn-group float-end">
        <input [(ngModel)]="userParams.orderBy" (change)="loadMembers()" type="radio" class="btn-check" name="orderBy" value="lastActive" id="lastActive" autocomplete="off">
        <label class="btn btn-outline-primary" for="lastActive">Last Active</label>
        <input [(ngModel)]="userParams.orderBy" (change)="loadMembers()" type="radio" class="btn-check" name="orderBy" value="created" id="newest" autocomplete="off">
        <label class="btn btn-outline-primary" for="newest">Newest Members</label>
      </div>
    </div>
  </form>
</div>
<div class="row">
  <div *ngFor="let member of members" class="col-lg-2 col-md-3">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>
<app-pagination
  *ngIf="pagination"
  [currentPage]="pagination.currentPage"
  [totalPages]="pagination.totalPages"
  (pageChanged)="onPageChanged($event)">
</app-pagination>