<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand text-white"routerLink="/">Dating App</a>
    <button 
      class="navbar-toggler"
      type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/members" routerLinkActive="active">Mathces</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
        </li>
      </ul>
      <div class="dropdown" *ngIf="accountService.currentUser$ | async as user">
        <img src="{{user.mainPhotoUrl || './assets/user.png'}}" alt="Profile Picture">
        <a class="dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none;">
          Welcome {{ user.knownAs | titlecase }}
        </a>

        <ul class="dropdown-menu mt-3">
          <li><a routerLink="/member/edit" class="dropdown-item">Edit Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Log out</a></li>
        </ul>
      </div>
      <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex ms-auto" (ngSubmit)="login()" autocomplete="off">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          type="text"
          placeholder="Username">
        <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2" 
          type="password" 
          placeholder="Password">
        <button class="btn btn-success" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>