<div class="text-center mt-3">
  <h2>{{predicate === 'liked' ? 'Members I like' : 'Members who like me'}}</h2>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="btn-group">
      <input [(ngModel)]="predicate" (change)="loadLikes()" type="radio" class="btn-check" name="predicate" value="liked" id="liked" autocomplete="off">
      <label class="btn btn-outline-primary" for="liked">Members I like</label>
      <input [(ngModel)]="predicate" (change)="loadLikes()" type="radio" class="btn-check" name="predicate" value="liking" id="liking" autocomplete="off">
      <label class="btn btn-outline-primary" for="liking">Members who like me</label>
    </div>
  </div>
  <div class="row mt-3">
    <div *ngFor="let member of members" class="col-lg-2 col-md-3">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
<ul *ngIf="pagination" class="pagination justify-content-center">
  <li [class.disabled]="pagination.currentPage <= 1" class="page-item">
    <button [disabled]="pagination.currentPage <= 1" (click)="pageChanged(1)" class="page-link">
      <span>&laquo;</span>
    </button>
  </li>
  <li [class.disabled]="pagination.currentPage <= 1" class="page-item">
    <button [disabled]="pagination.currentPage <= 1" (click)="pageChanged(pagination.currentPage - 1)" class="page-link">
      <span>&lsaquo;</span>
    </button>
  </li>
  <li *ngFor="let page of pageNumbers" (click)="pageChanged(page)" [class.active]="page === pagination.currentPage" class="page-item">
    <button class="page-link">
      {{ page }}
    </button>
  </li>
  <li [class.disabled]="pagination.currentPage >= pagination.totalPages" class="page-item">
    <button [disabled]="pagination.currentPage >= pagination.totalPages" (click)="pageChanged(pagination.currentPage + 1)" class="page-link">
      <span>&rsaquo;</span>
    </button>
  </li>
  <li [class.disabled]="pagination.currentPage >= pagination.totalPages" class="page-item">
    <button [disabled]="pagination.currentPage >= pagination.totalPages" (click)="pageChanged(pagination.totalPages)" class="page-link">
      <span>&raquo;</span>
    </button>
  </li>
</ul>